*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://cdn.wallpapersafari.com/47/95/f3gmHo.jpg") rgba(255, 255, 255, 0.9) ;
    
}
.navbar{
    width: 100%;
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#backToHomeBtn{
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: black;
    background: transparent;
    border: none;
    outline: 2px solid black;
}
#backToHomeBtn:hover{
    background: black;
    color: aliceblue;
}
.appContainer{
    width: 100%;
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroImgContainer{
    flex: 0.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.heroImg{
    width: 50%;
    height: 70%;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px 2px whitesmoke;
}
.superheroDetailsContainer{
    flex: 0.5;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    gap: 40px;
    box-sizing: border-box;
    background: rgb(55, 55, 55, 0.9);
}
.superheroDetailsContainer p{
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: whitesmoke;
    font-weight: 100;
}
.superheroDetailsContainer h2{
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 2rem;
    color: whitesmoke;
}